<!DOCTYPE html>
<html>
<head>
	<title>Profile Info</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
		body {
			font-family: "Raleway", sans-serif;
			background-color:#f2f2ff;
		}
		body, html {
		    height: 100%;
		    line-height: 1.8;
		}
		.w3-bar .w3-button {
		    padding: 16px;
		}
	</style>
</head>
<body>
	<!-- Navbar (sit on top) -->
	<div class="w3-top">
	  <div class="w3-bar w3-white w3-card" id="myNavbar">
	    <a href="/homeNU" class="w3-bar-item w3-button w3-wide" title="Profile home" style="text-decoration: none;"><span>Welcome, <strong>Rashed</strong></span></a>
	    <!-- Right-sided navbar links -->
	    <div class="w3-right w3-hide-small">
	      <a href="/" class="w3-bar-item w3-button" title="Jump to GadTo Home" style="text-decoration: none;"><i class="fa fa-home"></i> GadTo Home</a>
	      <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;"><i class="fa fa-bullhorn"></i> Post ad</a>
	      <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;"><i class="fa fa-info"></i> Ads info</a>
	      <a href="/homeNU/profileinfo" class="w3-bar-item w3-button" title="Profile info"><i class="fa fa-user"></i></a>
	      <a href="#" class="w3-bar-item w3-button"  title="Messages"><i class="fa fa-envelope"></i></a>
	      <a href="#" class="w3-bar-item w3-button" title="Notifications"><i class="fa fa-bell"></i></a>
	      <a href="/logout" class="w3-bar-item w3-button" title="Log out"><i class="fa fa-sign-out"></i></a>
	    </div>
	    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

	    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
	      <i class="fa fa-bars"></i>
	    </a>
	  </div>
	</div>

	<!-- Sidebar on small screens when clicking the menu icon -->
	<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
	  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16" style="text-decoration: none;">Close ×</a>
	  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button" style="text-decoration: none;">GadTo HOME</a>
	  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button" style="text-decoration: none;">POST AD</a>
	  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button" style="text-decoration: none;">ADS INFO</a>
	  <a href="index.html" onclick="w3_close()" class="w3-bar-item w3-button" style="text-decoration: none;">PROFILE INFO</a>
	  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button" style="text-decoration: none;">MESSAGES</a>
	  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button" style="text-decoration: none;">NOTIFICATIONS</a>
	  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button" style="text-decoration: none;">LOG OUT</a>
	</nav>
	<div class="container alert alert-info" style="margin-top: 150px;">
		<h2>Profile Information</h2>
            <form class="needs-validation" novalidate>
                <div class="col-md-4 mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="username" placeholder="Pick a username" value="RashedRahat" disabled>
                  </div>
                </div>
                <div class="col-md-4 mb-2">            
                    <input type="text" class="form-control" id="name" placeholder="Your first and last name" value="Rashed Rahat" required>
                    <div class="invalid-feedback">
                        Please provide a valid name.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-2">            
                    <input type="email" class="form-control" id="phone" placeholder="Your email" value="rashedrahat@outlook.com" required>
                    <div class="invalid-feedback">
                        Please provide a valid email.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">+88</div>
                    </div>
                    <input type="text" max="10" class="form-control" id="phone" placeholder="Your phone number" value="01633179767" required>
                    <div class="invalid-feedback">
                        Please provide a valid phone number.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4 mb-2">
                  <select id="gender" class="form-control" disabled>
                    <option>Your Gender</option>
                    <option>Female</option>
                    <option selected>Male</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="col-md-4 mb-2">                
                    <input type="date" class="form-control" id="birth" required>
                    <div class="invalid-feedback">
                        Please choose a date.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>               
                </div>
                <div class="col-md-4 mb-2">              
                    <input type="password" class="form-control" id="password" placeholder="Create a password" value="0123456789" required>
                    <div class="invalid-feedback">
                        Please create a password.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>           
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Update</button>
                </div>
            </form>
    </div>
	<script>
	// Toggle between showing and hiding the sidebar when clicking the menu icon
	var mySidebar = document.getElementById("mySidebar");

	function w3_open() {
	    if (mySidebar.style.display === 'block') {
	        mySidebar.style.display = 'none';
	    } else {
	        mySidebar.style.display = 'block';
	    }
	}

	// Close the sidebar with the close button
	function w3_close() {
	    mySidebar.style.display = "none";
	}

	// Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
	</script>
</body>
</html>